<a href="https://colab.research.google.com/github/kanakpandit17/Python-Programming/blob/main/python_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.youtube.com/watch?v=UrsmFxEIp5k&t=26597s

10-07

REPL stands for Read Evaluate Print Loop. It's an interactive programming environment that allows you to enter and execute commands directly. Here’s what each part means:

Read: It reads the input you provide.
Evaluate: It evaluates the input.
Print: It prints the result of the evaluation.
Loop: It repeats this process in a continuous loop, allowing you to enter new commands or expressions after seeing the result of the previous one....

In Python, f is used to create f-strings, which are formatted string literals. .F-strings provide a concise and readable way to embed expressions inside string literals, using curly braces {} to evaluate expressions and format values within a string..

In [ ]:
def multiplication(num,limit):
  for i in range(1,limit+1):
    print(f"{num}* {i} = {num*i}")

multiplication(5,10)

5* 1 = 5
5* 2 = 10
5* 3 = 15
5* 4 = 20
5* 5 = 25
5* 6 = 30
5* 7 = 35
5* 8 = 40
5* 9 = 45
5* 10 = 50

20-07-2024

All String Operations

In [ ]:
str1 = "Hello"
str2 = "World"
result = str1 + " " + str2
print(result)  # Output: Hello World

Hello World

In [ ]:
str1 = "Hello"
result = str1 * 3
print(result)  # Output: HelloHelloHello.

HelloHelloHello

In [ ]:
str1 = "Hello"
print(len(str1))  # Output: 5

5

In [ ]:
str1 = "Hello"
print(str1[1])  # Output: e

e

In [ ]:
str1 = "Hello World"
print(str1[0:5])   # Output: Hello
print(str1[6:])    # Output: World
print(str1[-5:])   # Output: World

Hello
World
World

In [ ]:
str1 = "Hello"
print(str1[::-1])  # Output: olleH

olleH

In [ ]:
str1 = "Hello World"
print(str1.upper())  # Output: HELLO WORLD
print(str1.lower())  # Output: hello world

HELLO WORLD
hello world

In [ ]:
str1 = "hello world"
print(str1.title())  # Output: Hello World

Hello World

In [ ]:
str1 = "hello world"
print(str1.title())  # Output:  Hello World

Hello World

In [ ]:
str1 = "  Hello World  "
print(str1.strip())  # Output: Hello World

Hello World

In [ ]:
str1 = "Hello World"
print(str1.replace("World", "Python"))  # Output: Hello Python

Hello Python

In [ ]:
str1 = "Hello World"
print(str1.split())  # Output: ['Hello', 'World']

['Hello', 'World']

In [ ]:
list1 = ["Hello", "World"]
print(" ".join(list1))  # Output: Hello World

Hello World

In [ ]:
str1 = "Hello World"
print(str1.startswith("Hello"))  # Output: True
print(str1.endswith("World"))    # Output: True

True
True

In [ ]:
str1 = "Hello World"
print(str1.find("World"))  # Output: 6
print(str1.index("World")) # Output: 6

In [ ]:
name = "John"
age = 30
print("My name is {} and I am {} years old".format(name, age))
# Output: My name is John and I am 30 years old

My name is John and I am 30 years old

In [ ]:
name = "John"
age = 30
print(f"My name is {name} and I am {age} years old")
# Output: My name is John and I am 30 years old

My name is John and I am 30 years old

In [ ]:
str1 = "Hello"
str2 = "12345"
str3 = "Hello123"

print(str1.isalpha())  # Output: True
print(str2.isdigit())  # Output: True
print(str3.isalnum())  # Output: True

True
True
True

In [ ]:
str1 = "Hello World"
print(str1.swapcase())  # Output: hELLO wORLD

hELLO wORLD

In [ ]:
str1 = "   Hello World   "
print(str1.lstrip())  # Output: "Hello World   "

str2 = "###Hello###"
print(str2.lstrip("#"))  # Output: "Hello###"

Hello World
Hello###

In [ ]:
str1 = "   Hello World   "
print(str1.rstrip())  # Output: "   Hello World"

str2 = "###Hello###"
print(str2.rstrip("#"))  # Output: "###Hello"

   Hello World
###Hello

In [ ]:
str1 = "   Hello World   "
print(str1.strip())  # Output: "Hello World"

str2 = "###Hello###"
print(str2.strip("#"))  # Output: "Hello"

Hello World
Hello

02-08-2024

Variables

In [ ]:
_a='12'#Variable name can start with underscore
_a

'12'

In [ ]:
1a=_12 #var name cant start with digit

SyntaxError: invalid decimal literal (<ipython-input-9-587149e685bb>, line 1)

In [ ]:
a='8one '
a

'8one '

In [ ]:
1 a='j' #Var name cant have whitespace
1 a

SyntaxError: invalid syntax (<ipython-input-11-21174f998097>, line 1)

Operators

In [ ]:
a=input("Enter no a:")
b=input("Enter no b:")
print(a+b)

Enter no a:1
Enter no b:2
12

In [ ]:
a=int(input("Enter no a:"))
b=int(input("Enter no b:"))
print(a+b)

Enter no a:1
Enter no b:2
3

In [ ]:
print(str(31))
print(int('31'))
print(float('31.0'))

31
31
31.0

Strings

In [ ]:
name='Harry'
name="Harry"
name='''Harry'''

In [ ]:
name[-4:-1]

'arr'

In [ ]:
name[-1:-4] #left index should be smaller than right index

''

In [ ]:
word="amazing"  #Very important
word[1::2]

'mzn'

String functions

In [ ]:
text = "Hello, World!"
length = len(text)
print(length)  # Output: 13

13

In [ ]:
text = "Hello, World!"
lowercase_text = text.lower()
print(lowercase_text)  # Output: "hello, world!"

hello, world!

In [ ]:
text = "Hello, World!"
uppercase_text = text.upper()
print(uppercase_text)  # Output: "HELLO, WORLD!"

HELLO, WORLD!

In [ ]:
text = "  Hello, World!  "  #Removes leading and trailing whitespace.
stripped_text = text.strip()
print(stripped_text)  # Output: "Hello, World!"

Hello, World!

In [ ]:
text = "apple,banana,cherry"
fruits = text.split(",")
print(fruits)  # Output: ['apple', 'banana', 'cherry']

['apple', 'banana', 'cherry']

In [ ]:
text = "I like apples"
new_text = text.replace("apples", "oranges")
print(new_text)  # Output: "I like oranges"

I like oranges

In [ ]:
text = "Hello, World!"
index = text.find("World")
print(index)  # Output: 7

index_not_found = text.find("Python")
print(index_not_found)  # Output: -1

7
-1

In [ ]:
text = "Hello, World!"
starts_with_hello = text.startswith("Hello")
print(starts_with_hello)  # Output: True

starts_with_hi = text.startswith("Hi")
print(starts_with_hi)  # Output: False

True
False

In [ ]:
text = "Hello, World!"
ends_with_world = text.endswith("World!")
print(ends_with_world)  # Output: True

ends_with_exclamation = text.endswith("!")
print(ends_with_exclamation)  # Output: True

True
True

In [ ]:
words = ["Hello", "World", "Python"]
sentence = " ".join(words)
print(sentence)  # Output: "Hello World Python"

comma_separated = ", ".join(words)
print(comma_separated)  # Output: "Hello, World, Python"

Hello World Python
Hello, World, Python

In [ ]:
number = "12345"
is_digit = number.isdigit()
print(is_digit)  # Output: True

mixed_text = "12345abc"
is_digit_mixed = mixed_text.isdigit()
print(is_digit_mixed)  # Output: False

True
False

In [ ]:
text = "hello"
print(text.upper())  # Output: "HELLO"

text = "HELLO"
print(text.lower())  # Output: "hello"

text = "hello world"
print(text.title())  # Output: "Hello World"

text = "hello world"
print(text.capitalize())  # Output: "Hello world"

text = "  hello  "
print(text.strip())  # Output: "hello"

text = "xxhelloXX"
print(text.strip('xX'))  # Output: "hello"


text = "  hello"
print(text.lstrip())  # Output: "hello"

text = "xxhello"
print(text.lstrip('x'))  # Output: "hello"

text = "hello  "
print(text.rstrip())  # Output: "hello"

text = "helloXX"
print(text.rstrip('X'))  # Output: "hello"

HELLO
hello
Hello World
Hello world
hello
hello
hello
hello
hello
hello

In [ ]:
text = "hello world"
print(text.find("world"))  # Output: 6
print(text.find("notfound"))  # Output: -1

text = "hello world world"
print(text.rfind("world"))  # Output: 12

text = "hello world world"
print(text.rindex("world"))  # Output: 12
# print(text.rindex("notfound"))  # Raises ValueError

text = "hello world"
print(text.replace("world", "Python"))  # Output: "hello Python"

text = "hello world python"
print(text.split())  # Output: ['hello', 'world', 'python']

text = "hello world python"
print(text.rsplit(' ', 1))  # Output: ['hello world', 'python']

words = ["hello", "world"]
print(" ".join(words))  # Output: "hello world"

text = "42"
print(text.zfill(5))  # Output: "00042"

6
-1
12
12
hello Python
['hello', 'world', 'python']
['hello world', 'python']
hello world
00042

In [ ]:
text = "hello"
print(text.isalpha())  # Output: True

text = "Hello World"
print(text.istitle())  # Output: True

text = "HELLO"
print(text.isupper())  # Output: True

text = "   "
print(text.isspace())  # Output: True

True
True
True
True

In [ ]:
print("Harry is a \"bad\" boy")

Harry is a "bad" boy

In [ ]:
name= input("Enter your name:")
print("Hello",name)
print(f"Hello {name}")

Enter your name:dd
Hello dd
Hello dd

1. List
Definition: A list is an ordered, mutable (changeable) collection of elements that can contain duplicates. Lists are often used when you want to maintain the order of items and need to modify the collection over time.

Key Features:
1. Ordered: The items have a defined order.
2. Mutable: You can change the items after the list is created.
3. Can contain duplicate elements.

In [ ]:
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Accessing elements
print(my_list[0])  # Output: 1

# Modifying elements
my_list[2] = 10

# Adding elements
my_list.append(6)

# Removing elements
my_list.remove(2)

print(my_list)  # Output: [1, 10, 4, 5, 6].

1
[1, 10, 4, 5, 6]

2. Sets Definition: A set is an unordered, mutable collection of unique elements. Sets are useful when you want to store unique items and are concerned with membership tests (checking if an item is in the set).

Key Features:
1. Unordered: There is no defined order for the elements.
2. Mutable: You can change the items after the set is created.
3. No duplicate elements allowed.

In [ ]:
# Creating a set
my_set = {1, 2, 3, 4, 5}

# Adding elements
my_set.add(6)

# Removing elements
my_set.remove(2)

# Checking membership
print(3 in my_set)  # Output: True

# Sets automatically remove duplicates
my_set.add(3)  # No effect because 3 is already in the set

print(my_set)  # Output: {1, 3, 4, 5, 6}

True
{1, 3, 4, 5, 6}

3. Dictionary
Definition: A dictionary is an unordered, mutable collection of key-value pairs. Each key is unique, and it maps to a specific value. Dictionaries are useful for associating pieces of data together, like storing information in a lookup table.

Key Features:
1. Unordered: There is no defined order for the key-value pairs (in Python 3.7+, dictionaries maintain insertion order, but it’s still technically unordered).
2. Mutable: You can change the items after the dictionary is created.
3. Keys must be unique.

In [ ]:
# Creating a dictionary
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}

# Accessing values
print(my_dict['name'])  # Output: Alice

# Modifying values
my_dict['age'] = 26

# Adding key-value pairs
my_dict['email'] = 'alice@example.com'

# Removing key-value pairs
del my_dict['city']

print(my_dict)  # Output: {'name': 'Alice', 'age': 26, 'email': 'alice@example.com'}

Alice
{'name': 'Alice', 'age': 26, 'email': 'alice@example.com'}

4. Tuple
Definition: A tuple is an ordered, immutable collection of elements. Once a tuple is created, you cannot change its elements. Tuples are useful when you want to create a collection of items that should not change throughout the program.

Key Features:
1. Ordered: The items have a defined order.
2. Immutable: Once created, the elements cannot be changed.
3. Can contain duplicate elements.

In [ ]:
# Creating a tuple below
my_tuple = (1, 2, 3, 4, 5)

# Accessing elements
print(my_tuple[0])  # Output: 1

# Tuples cannot be modified
# my_tuple[2] = 10  # This will raise a TypeError

# Tuples can contain duplicate elements
another_tuple = (1, 2, 2, 3)

# You can access the same way as lists
print(another_tuple[1])  # Output: 2

1
2

In [ ]:
# Integer Division
a = 10
b = 3
int_div = a // b
print(f"Integer Division (//): {int_div}")  # Output: 3

# Float Division
float_div = a / b
print(f"Float Division (/): {float_div}")  # Output: 3.3333333333333335

# Modulus Operation
modulus = a % b
print(f"Modulus (%): {modulus}")  # Output: 1

# Floor Division with Negative Numbers
neg_int_div = -10 // 3
print(f"Negative Integer Division (//): {neg_int_div}")  # Output: -4

# Floating-Point Precision
float_div_precision = 1 / 3
print(f"Floating-Point Precision: {float_div_precision}")  # Output: 0.3333333333333333

Integer Division (//): 3
Float Division (/): 3.3333333333333335
Modulus (%): 1
Negative Integer Division (//): -4
Floating-Point Precision: 0.3333333333333333

In [ ]:
print("Abc") #Print Abc

Abc